extends layouts/main.pug

block append main
    section
        h2 Documentation
        .grid
            p.text-center
                a(href=process.env.API_DOCUMENTATION_ROUTE||'/api-docs' role="button").outline View
